{% extends "account/base.html" %}
{% load i18n %}
{% block title %}{% trans "Signup" %}{% endblock %}
{% block body %}
	<div class="container">
		<form class="form-horizontal mt-5" role="form" id="signup_form" method="post" action="{% url 'account_signup' %}">
			{% csrf_token %}
			{% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			{% endif %}
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<h2>Register New User</h2>
					{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
					<hr>
					{% if form.errors %}
						{% for field in form %}
							{% for error in field.errors %}
								<div class="alert alert-danger" role="alert">
									<strong>{{ error|escape }}</strong>
								</div>
							{% endfor %}
						{% endfor %}
						{% for error in form.non_field_errors %}
							<div class="alert alert-danger" role="alert">
								<strong>{{ error|escape }}</strong>
							</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 field-label-responsive">
					<label class="sr-only" for="username">Username</label>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="input-group mb-2 mr-sm-2 mb-sm-0">
							<div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
							<input type="text" name="username" maxlength="150" class="form-control" minlength="4" autofocus="autofocus" required placeholder="Username" id="id_username" autofocus/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 field-label-responsive">
					<label class="sr-only" for="email">E-Mail Address</label>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="input-group mb-2 mr-sm-2 mb-sm-0">
							<div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
							<input type="email" name="email" class="form-control" required placeholder="you@example.com" id="id_email" autofocus />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 field-label-responsive">
					<label class="sr-only" for="password">Password</label>
				</div>
				<div class="col-md-6">
					<div class="form-group has-danger">
						<div class="input-group mb-2 mr-sm-2 mb-sm-0">
							<div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
							<input type="password" name="password1" required placeholder="Password" id="id_password1" class="form-control" />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 field-label-responsive">
					<label class="sr-only" for="password">Confirm Password</label>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="input-group mb-2 mr-sm-2 mb-sm-0">
							<div class="input-group-addon" style="width: 2.6rem">
								<i class="fa fa-repeat"></i>
							</div>
							<input type="password" name="password2" class="form-control" required placeholder="Password (again)" id="id_password2" />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Register</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}