{% extends "home/base.html" %}
{% block title %}Inbox{% endblock %}
{% block body %}
	<div class="container">
		{% if messages %}
			
			{% for message in messages %}
				{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
					<div class="alert alert-danger {% if message.tags %} {{ message.tags }} {% endif %}" role="alert">
					{{ message }}
				</div>
				{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
				<div class="alert alert-success {% if message.tags %} {{ message.tags }} {% endif %}" role="alert">
					{{ message }}
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}
</div>
	<div class="container">
		<div class="main-title font-title my-1">Incoming Requests</div>
		<div class="card">
			<table class="inbox-table table-hover table-bordered">
				<thead class="table-info">
					<th>Request From</th>
					<th>Book</th>
					<th>Approve</th>
					<th>Reject</th>
				</thead>
				<tbody>
					{% ifnotequal incoming|length 0 %}
						
						{% for requests in incoming %}
							<tr>
								<td>{{ requests.request_sender }}</td>
								<td><a href="#" data-toggle="modal" data-target="#bookModal" data-book-id="{{requests.book_request.id}}">{{ requests.book_request.book_name }}</a></td>
								<td>{%if not requests.approved%}<a href="{% url "lend:lend-approve" requests.id %}" class="approve"><i class="fa fa-check"></i></a>{% endif %}</td>
								<td>{%if requests.approved or requests.approved is none %}<a href="{% url "lend:lend-reject" requests.id %}" class="reject"><i class="fa fa-close"></i></a>{% endif %}</td>
							</tr>
						{% endfor %}
						
						{%else%}
						<td colspan="4">No Requests Found</td>
					{% endifnotequal %}
				</tbody>
			</table>
		</div>
		<div class="main-title font-title my-1">Pending Requests</div>
		<div class="card">
			<table class="inbox-table table-bordered table-hover">
				<thead class="table-info">
					<th>Book</th>
					<th>Lender</th>
					<th>Quick Status</th>
					<th>Details</th>
				</thead>
				<tbody>
					{% ifnotequal outgoing|length 0 %}
						{% for requests in outgoing %}
							<tr>
								<td><a href="#" data-toggle="modal" data-target="#bookModal" data-book-id="{{requests.book_request.id}}">{{ requests.book_request.book_name }}</a></td>
								<td>{{ requests.request_receiver }}</td>
								<td>
									{% if requests.approved is None %}
										<span class="text-warning">Pending</span>
										{%elif requests.approved%}
										<span class="text-success">Approved</span>
										{%else%}
										<span class="text-danger">Rejected</span>
									{% endif %}
								</td>
								<td>
									{% if requests.approved is None %}
										<span class="text-warning">Request Pending</span>
										{%elif requests.approved%}
										<span class="text-success">Contact <strong>{{ requests.request_receiver }}</strong> through <a href="mailto:{{ requests.request_receiver.email }}"><strong>{{ requests.request_receiver.email }}</strong></a> for the exchange.</span>
										{%else%}
										<span class="text-danger"><strong>{{ requests.request_receiver }}</strong> has rejected your request for the book.</span>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
						{%else%}
						<td colspan="4">No Requests Found</td>
					{% endifnotequal %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

{% block modal %}

<div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookModalLabel">T</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="book_desc"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}