{% extends "home/base.html" %}
{% block title %}Borrow{% endblock %}
{% block body %}
{% load borrow_extras %}
	<div class="container">
		{% if messages %}
			
			{% for message in messages %}
				{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
					<div class="alert alert-danger {% if message.tags %} {{ message.tags }} {% endif %}" role="alert">
					{{ message }}
				</div>
				{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
				<div class="alert alert-success {% if message.tags %} {{ message.tags }} {% endif %}" role="alert">
					{{ message }}
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}
</div>
<div class="container">
	<div class="form-inline">
		<input type="text" id="q" class="form-control col-md-11 my-2 mr-0" name="q" placeholder="Search Book or Author">
		<button id="searchSubmit" class="btn btn-info col-md-1">Search</button>
	</div>
</div>
<div id="results"></div>
<div class="container">
	{% if book_by_user %}
		{% for lender,books in book_by_user.items %}
			<div class="row font-title" style="font-size: 20px; font-weight: 700;">Books from {{ lender }}:</div>

				{% for book in books %}
					{% if forloop.counter0|divisibleby:3 %}
						<div class="row">
						{% endif %}
						<div class="col-md-4 card bg-transparent py-2">
							<div class="row">
								<div class="col-md-6">
									<img src="{{ book.book_cover.url }}" width="100%">
								</div>
								<div class="col-md-6">
									<h4>{{ book.book_name }}</h4>
									<h5>By {{ book.book_author }}</h5>
									<h6><strong>Category: </strong>{{ book.book_category }}</h6>
									{% if book.book_genre.all|length %}
										<h6><strong>Genre: </strong>
										{% for genre in book.book_genre.all %}
											{{ genre }}{% if forloop.counter < book.book_genre.all|length %},{% endif %}
										{% endfor %}
									{% endif %}
									{% if book.book_edition %}
										<h6><strong>Edition:</strong>{{book.book_edition}}</h6>
										
									{% endif %}
									{% if not book.id|request_check:user %}
									<form action="" method="post">
										{% csrf_token %}
										<input type="hidden" name="book_id" value="{{ book.id }}">
										<button type="submit" class="btn btn-success my-2">Request for Book</button>
									</form>
									{% elif book.id|request_check:user %}
									    <button type="submit" class="btn btn-secondary my-2" style="cursor:not-allowed" disabled>Already Requested</button>									
									{%endif%}
								</div>
							</div>
						</div>
						{% if forloop.counter0|add:1|divisibleby:3 or forloop.counter0|add:1 == books|length %}
						</div>
					{% endif %}
				{% endfor %}
		{% endfor %}
	{% endif %}
</div>
{% endblock %}